*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Space Grotesk', sans-serif;

}
.logo h1{
    font-family: 'Architects Daughter', cursive;
}
ul li:hover{
    color: red;
    cursor: pointer;
}
.main-content{
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -1;
}
.leftside{
    background-image: linear-gradient(to left ,rgba(0,0,0,0.3),rgba(0,0,0,0.7)),
    url(https://images.unsplash.com/photo-1519282407670-6e0ace7ffc96?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NXx8YmVhdXRpZnVsJTIwZ2lybHxlbnwwfHwwfHx8MA%3D%3D&auto=format&fit=crop&w=500&q=60);
    height: 100vh;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}
.rightside{
    background: #000;
}
.right-content h1{
    font-size: 35px;
    font-weight: 400px;
    letter-spacing: 0.05em;
    line-height: 1.25;
    padding: 30px 0 35px 0;
}
.right-content p{
    border-left: 1px solid #555;
    font-weight: 100;
    padding: 50px 30px;
    font-size: 0.9rem;
}
button{
    border: none;
    background: #fff;
    letter-spacing: 0.25em;
    font-weight: 700;
    font-size: 10px;
    text-transform: uppercase;
    color: #111;
    padding: 15px 25px;
    margin: 30px 0 0 30px;
    transition: all 0.3s linear;
}
button:hover{
    background: red;
    color: #fff;
}